body {
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px;
    background: linear-gradient(to left, #100e0e, #0f1569, #370edd);
}
input {
    margin: 5px 0;
    width: 95%;
}
textarea{
    margin: 5px 0;
    width: 95%;
}
button{
    margin-top: 10px;
    padding: 5px 10px;
    background-color: rgb(204, 255, 0);
    box-shadow: 6px 0px 6px rgb(0, 255, 51);
    font-size: medium;
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease;
}